doctype html
html
  head
    title  Visitantes
  body
    #hello-form
    table
      thead tr
          th Id
          th Name
          th Visits
      tbody
        each val in visitorCount
          tr
            td= val.id
            td= val.name
            td= val.count
